<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="es.mastergeoinformatica.mov.onsenui" version="1.0.0">
  <name>Onsen UI Example</name>
  <description>Ejemplo de Onsen UI.</description>
  <author href="http://phonegap.com" email="sladra@udc.es">Susana Ladra</author>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <platform name="android">
  </platform>
</widget>
